[flake8]
# C -> mccabe, C for complexity
# [W, E] -> pycodestyle, PEP8
# F -> pyflakes, finds broken python
# BLK -> Black, flake8-black
# I -> import order, flake8-import-order
# B bugbear, flake8-bugbear
# B9 insane bugbear warnings, flake8-bugbear
# ANN flake8 annotations
select = ANN,B,B9,BLK,C,E,F,I,W
max-complexity = 10
application-import-names = itse,auth
# E203 whitespace before ':'
# W503 Line break before binary operator
# ANN101 Missing type annotation for self in method
ignore = E203,E501,W503, ANN101
max-line-length = 80
