<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Itse Login">
        <meta name="author" content="SOS-lapsikylä ry">
        <title>Itse Login</title>
    </head>
    <body>
        <form action="/auth" method="POST">
            User name: <input name="username" type="text" />
            <br />
            Password: <input name="password" type="password" />
            <br />
            <input type="submit" value="Login" />
        </form>
    </body>
</html>
